<section id="login-form" *ngIf=" api.isLoggedOut() ">
    <form (ngSubmit)="onSubmit( $event )">
        <div class="set email">
            <span class="caption">{{ text.email }}</span>
            <span class="text">
                <input type="text" name="email" [(ngModel)]=" form.email " autocomplete="off">
            </span>
        </div>
        <div class="set password">
            <span class="caption">{{ text.password }}</span>
            <span class="text">
                <input type="password" name="password" [(ngModel)]=" form.password " autocomplete="off">
            </span>
        </div>
        <div class="set api-error" [attr.code]=" apiError.code " *ngIf=" displayError && apiError ">
          <span class="text">
            <span class="code">{{ apiError.code }}</span>
            <span class="message">{{ apiError.message }}</span>
          </span>
        </div>
        <div class="loader" *ngIf=" loader.submit ">{{ text.submitting }}</div>
        <div class="set submit">
            <span class="caption"></span>
            <span class="text">
                <button type="submit">{{ text.login }}</button>
            </span>
        </div>
    </form>
</section>

