<ion-header>
  <ion-navbar>
    <ion-title>
      Register
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>
      <ion-item>
        <div (click)="onClickPhoto()">
        
          <img [src]="urlPhoto">
        </div>
        <div *ngIf=" userData?.urlPhoto ">
          <button ion-button (click)="onClickDeletePhoto()">DELETE</button>
        </div>
        <input *ngIf=" !cordova " type="file" (change)="onChangeFile($event)">
       
      </ion-item>
      <ion-item>
        <ion-label floating>User Id</ion-label>
        <ion-input type='text' [(ngModel)]="userData.id" ></ion-input>
      </ion-item>
      <ion-item>
         <ion-label floating>Password</ion-label>
         <ion-input type = 'password' [(ngModel)]="userData.password"></ion-input>
      </ion-item>
       <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type='text' [(ngModel)]="userData.name" ></ion-input>
      </ion-item>
       <ion-item>
        <ion-label floating>Nickname</ion-label>
        <ion-input type='text' [(ngModel)]="userData.nickname" ></ion-input>
      </ion-item>
       <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type='text' [(ngModel)]="userData.email" ></ion-input>
      </ion-item>
       <ion-item>
        <ion-label floating>Mobile</ion-label>
        <ion-input type='text' [(ngModel)]="userData.mobile" ></ion-input>
      </ion-item>
    </ion-list>


    <div notice *ngIf=" process.loader ">
      <ion-spinner></ion-spinner> Please, wait.
    </div>
    <div warning *ngIf=" process.error ">
      {{ process.error }}
    </div>
  
      <button ion-button (click)="onClickRegister()">Register</button>
      <button ion-button (click)="onClickBack()">Back</button>
     
  
</ion-content>
