      <div *ngIf=" login ">
        Update Profile
      </div>
      <div *ngIf=" ! login ">
        Register
      </div>

        <div (click)="onClickPhoto()">
          <img [src]="urlPhoto">
        </div>

        <div *ngIf=" userData?.text_1">
          <button ion-button (click)="onClickDeletePhoto()">DELETE</button>
        </div>

        <input *ngIf=" !cordova " type="file" (change)="onChangeFile($event)">
       


      <div *ngIf=" ! login ">
        <label floating>User Id</label>
        <input type='text' [(ngModel)]="userData.id" >
      </div>
      
      <div *ngIf=" ! login ">
         <label floating>Password</label>
         <input type = 'password' [(ngModel)]="userData.password">
      </div>


       <div>
        <label floating>Name</label>
        <input type='text' [(ngModel)]="userData.name" >
      </div>

       <div *ngIf=" ! login ">
        <label floating>Nickname</label>
        <input type='text' [(ngModel)]="userData.nickname" >
      </div>

       <div>
        <label floating>Email</label>
        <input type='text' [(ngModel)]="userData.email" >
      </div>

       <div>
        <label floating>Mobile</label>
        <input type='text' [(ngModel)]="userData.mobile" >
      </div>

       <div>
        <label floating>Gender</label>
        <input type='text' [(ngModel)]="userData.gender" >
      </div>

       <div>
        <label floating>Birth Day</label>
        <input type='date' [(ngModel)]="userData.birthday" >
      </div>




    <div notice *ngIf=" process.loader ">
      Please, wait.
    </div>
    <div warning *ngIf=" process.error ">
      {{ process.error }}
    </div>
  
      <button *ngIf=" ! login " (click)="onClickRegister()">Register</button>
      <button *ngIf=" login " (click)="onClickUpdate()">UPDATE</button>

      <button (click)="onClickBack()">Back</button>
     
