<section class="post-edit" *ngIf=" mode == 'edit' ">
  <div class="container">

    <form (ngSubmit)="onSubmit($event)">
      <div class="row forum-name">
        <div class="col-2">Forum</div>
        <div class="col-10">{{ forumName }}</div>
      </div>
      <div class="row subject">
        <div class="col-2">Subject</div>
        <div class="col-10">
          <input type="text" name="subject" [(ngModel)]="form.subject">
        </div>
      </div>
      <div class="row content">
        <div class="col-2">Content</div>
        <div class="col-10">
            <app-editor-component #editorComponent
            [buttons]="['bold', 'underline', 'italic', 'strike', 'fontsize', 'forecolor', 'backcolor', 'highlight', 'link', 'unink', 'formatblock', 'insertline', 'insertimage', 'orderedlist', 'unorderedlist', 'left', 'center', 'table', 'removeformat', 'big', 'normal']"
              ></app-editor-component>
          <!-- <textarea name="content" [(ngModel)]="form.content"></textarea> -->
        </div>
      </div>
      <div class="row submit">
        <div class="col-2"></div>
        <div class="col-10">

          <div class="buttons" *ngIf=" ! loader.submit ">
            <div class="file-upload-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z"/></svg>
                <input type="file" name="file" (change)="onChangeFile($event)">
                <span class="percentage" *ngIf=" percentage ">{{ percentage }}%</span>
    
            </div>
            <div>
                <button type="submit">Submit</button>
                <button type="button" (click)=" onClickCancel()">Cancel</button>
            </div>
          </div>
          <app-data-component #dataComponent [files]=" files "
            [percentage]="percentage"
            [editable]=" true "
            (remove)=" onFileRemove( $event ) "
            ></app-data-component>
          <div *ngIf=" loader.submit " class="loader alert alert-danger">서버로 전송중입니다.</div>
        </div>
      </div>
    </form>
  </div>
</section>

