<section class="post-list" [ngClass]="[ option.post_id ]" *ngIf=" re.idxes.length ">
  <h1>Post list</h1>
  <div class="posts">
    <div class="post" *ngFor=" let idx of re.idxes " class="post">
      <ng-container *ngIf=" ! view || view.idx != idx ">
        <a class="title" (click)="onClickView( $event, idx )" *ngIf=" ! post(idx).mode || post(idx)['mode'] == 'hide' " href="{{ api.urlForumView( idx ) }}">
          {{ idx }} {{ re.posts[idx].subject }}
        </a>
        <app-post-view-component *ngIf=" post(idx)['mode'] == 'view' " [post]=" post(idx) " [showClose]=" true "></app-post-view-component>
      </ng-container>

    </div>
  </div>
  <div class="no-more-posts" *ngIf=" show.noMorePosts ">
    <b>더 이상 글이 없습니다.</b>
  </div>
</section>

