<div class="comment" [attr.depth]=" comment.depth ">
  <div class="comment-view" *ngIf=" show.comment ">
    <div class="meta">
      글쓴이: {{ comment.member.nickname }} 날짜: {{ comment['date'] }} 글번호: {{ comment.idx }}
    </div>
    <div class="content" [innerHTML]=" comment.content ">
    </div>

    <div class="buttons" *ngIf=" show.buttons ">
      <button (click)=" onClickReply() ">답변</button>
      <button>추천</button>
      <button>비추천</button>
      <button>쪽지</button>
      <button>작성자의 글 목록</button>
      <button (click)=" onClickEdit() ">수정</button>
      <button>삭제</button>
      <button>신고</button>
    </div>
  </div>

  
  <app-comment-edit-component #editComponent
    [post]=" post "
    [parent]=" comment "
    [comment]=" comment "
    (write)=" onCommentWriteSuccess( $event ) "
    (edit)=" onCommentEditSuccess( $event ) "
    (cancel)=" onCommentFormCancel() "></app-comment-edit-component>

</div>


